<template>
  <div>
    <h1>Shopping List</h1>

    <img
            v-if="loading"
            src="../assets/gif.gif"
    >

      <div class="container" v-else>

          <router-link to="/check" >checkout</router-link>

          <div
              class="row  mb-3 align-items-center" >
          <div class="col-md-4 text-center "
          v-for="product in products" >


      <div class="card mt-3 mx-auto">

          <img
                  :src="product.image"
                  class="white--text align-end"
                  height="300px"
          />


          <div class="card-body">{{ product.title}}
              <br/>
              {{ product.price }}

          </div>

          <div class="card-footer">
<!--              <div>{{product.inventory}}</div>-->
              <div>{{product.description}}</div>
              <router-link :to="{name:'product', params:{id: product.id}}">more</router-link>

          </div>



          <div class="my-2">
              <div class="btn btn-info" @click="addProductToCart(product)">Add to cart</div>
          </div>

        <br>

      </div>

              </div>


          </div>
      </div>
  </div>
</template>

<script>

  import store from "../store";
import ShoppingCart from "./ShoppingCart.vue"
  export default {
    // name: "ProductList",
    data() {

      return {
        loading:false
      }
    },
      component:{
          ShoppingCart
      },


    computed:{
      products(){
        return store.getters.avaibleProducts
      }
    },
    //
    methods: {
      addProductToCart(product) {
        this.$store.dispatch('addProductToCart', product)
      }
    },

    created () {

      this.loading = true;
      this.$store.dispatch('loadData')
      .then(() => this.loading = false)


    },




  }
</script>
