<template>
        <div class="container  py-2 z-depth-1">

            <div class="card">

            <!--Section: Content-->
            <section class="px-5 mx-5 text-center text-lg-left dark-grey-text">

                <!--Grid row-->
                <div class="row mt-5">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4 mb-md-0">

                        <h3 class="font-weight-bold">{{ product.title }}</h3>

                        <p class="text-muted">    {{ product.description }}
                        </p>

<!--                        <a class="btn btn-success ml-0" href="#" role="button">buy</a>-->


                        <div class="my-2" >
                            <div class="btn btn-info" @click="addProductToCart(product)" v-if="product.inventory.length > 0">Add to cart</div>
                        </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mb-4 mb-0">

                        <!--Image-->
                        <div class="view overlay z-depth-1-half">
                            <img :src="product.image" class="img-fluid"
                                 alt=""/>
                            <a href="#">

                            </a>
                        </div>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->


            </section>
            <!--Section: Content-->
            </div>

        </div>


</template>

<script>
    import store from "../store";

    export default {
        name: "Product",
        // data() {
        //     return {
        //         product: this.$store.state.products
        //     }
        // },
        props: ['id'],
        computed: {
            product() {
                return this.$store.state.products

            },
        },
        methods: {
            addProductToCart(product) {
                this.$store.dispatch('addProductToCart', product)
            }
        },
            created() {
             this.$store.dispatch('loadProduct' , this.$route.params.id)

            },


    }
</script>

<style scoped>

</style>