<template>
  <div>
      <h1>checkout</h1>
      <div class="container bg-light">
          <div class="row justify-content-center align-center">

              <div class="col-10">


         <div  v-for="(item,index) in $store.state.cart" :key="index">

<div class="row justify-content-center py-2" >

             <div class="col-md-6 text-center">

        {{item.product.title}} *{{item.quantity}}*
             <span class="" style="color: #f6666c;font-weight: bold">{{"$" +item.product.price}}</span>

             </div>

             <div class="col-md-4 ">     <img
                     :src="item.product.image"
                     class="white--text align-end"
                     height="100px" width="100px"
             /></div>

          <span class="col-md-2">    <button @click="removeItem(item.product.id)"  class=" btn-danger mr-2  ">-</button>
      <button   @click="addProductToCart(item.product)"   class=" btn-success   ">+</button>
          </span>

                </div>

         </div>
              </div>





              <div class="col-2 text-center mx-auto">

<!--              <button class="btn btn-dark" @click="$store.dispatch('checkout')">Checkout</button>-->
              <div v-if="$store.state.checkoutStatus">{{$store.state.checkoutStatus}}

              </div>
              </div>




                  <div class="badge-success text-center"

                  >
                      Total: {{total }}
                  </div>


        </div>


          </div>
          </div>

</template>

<script>



  export default {
    name: "ShoppingCart",

    computed: {
          products() {
              // return this.$store.getters.cartProducts
               },

      total() {
        return this.$store.getters.cartTotal
      },




    },

      methods:{
          removeItem(product) {

              this.$store.dispatch("removeItem", product);
          },

          addProductToCart(product) {
              this.$store.dispatch('addProductToCart', product)
          }
      }



  }
</script>

<style scoped>

    button {
        padding: 5px 10px;
        border-radius: 10%;
    }
</style>
